/* GENERALI */
body {
  font-family: 'Montserrat', sans-serif;
  padding-top: 104px;
  text-align: center;
}

@media screen and (max-width: 992px) {
  body {
    font-size: 9.5px;
  }
}
.font_lato {
  font-family: 'Lato', sans-serif;
}
.uppercase {
  text-transform: uppercase;
}
h1, h2, h3, a {
  font-weight: 700;
}
h2 {
  font-size: 3.4em;
  margin-bottom: 20px;
}
ul {
  list-style: none;
}
.padding_top_100 {
  padding-top: 100px;
}
.padding_top_90 {
  padding-top: 90px;
}
.padding_top_80 {
  padding-top: 80px;
}
.padding_top_60 {
  padding-top: 60px;
}
.padding_bottom_100 {
  padding-bottom: 100px;
}
.padding_bottom_90 {
  padding-bottom: 90px;
}
.padding_bottom_80 {
  padding-bottom: 80px;
}
.padding_bottom_60 {
  padding-bottom: 60px;
}
.inline_block {
  display: inline-block;
}
.float-right {
  float: right;
}
.white_text,
.white_text a {
  color: white;
}
.fa-star {
  font-size: 32px;
  vertical-align: middle;
}
.thick_line {
  display: inline-block;
  width: 25%;
  max-width: 112px;
  height: 4px;
  background-color: white;
  border-radius: 5px;
  margin: 0 15px;
}


/* NAVBAR */
.nav_bar {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #2C3E50;
  width: 100%;
  z-index: 10;
}
.nav_bar a {
  white-space: nowrap;
}
.nav_bar .row {
  padding: 0 4%;
}
.nav_bar .row #srt_boot_top {
  font-size: 2em;
  float: left;
  line-height: 104px;
  vertical-align: middle;
}
.nav_bar .row #srt_boot_top:hover,
.nav_bar .row #srt_boot_top:active,
.nav_bar .row #srt_boot_top:focus {
  text-decoration: none;
}
.nav_bar .contact {
  font-size: 1.15em;
  line-height: 104px;
}
.nav_bar .contact a:hover,
.nav_bar .contact a:active,
.nav_bar .contact a:focus {
  text-decoration: none;
  color: #1ABC9C;
}
.nav_bar li:not(:first-child) {
  margin-right: 40px;
}
.nav_bar #hamburger {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 12px;
  display: inline-block;
  padding: 13px 18px;
  border-radius: 8px;
  background-color: #1ABC9C;
  margin-top: 32px;
  border-width: 0;
  text-transform: uppercase;
}
.nav_bar #hamburger:hover {
  background-color: #148F77;
}


/* JUMBO */
.jumbo {
  background-color: #1ABC9C;
  height: 680px;
  width: 100%;
  text-align: center;
}
.jumbo img {
  width: 240px;
  margin-bottom: 20px;
}
.jumbo h1 {
  font-size: 4.6em;
  margin-bottom: 20px;
}
.jumbo h3 {
  margin-top: 35px;
  font-size: 1.9em;
  font-weight: 400;
}


/* PORTFOLIO */
.portfolio {
  text-align: center;
}
.portfolio .thick_line {
  background-color: black;
}
.portfolio .row {
  margin: 30px 0 0;
  padding-bottom: 70px;
}
.portfolio .row [class*="col-"] {
  margin-bottom: 30px;
}
.portfolio .row a {
  display: inline-block;
  background-image: url(../img/plushover.png);
  background-size: cover;
  border-radius: 8px;
}
.portfolio img {
  width: 100%;
  max-width: 400px;
  border-radius: 8px;
}
.portfolio img:hover {
  opacity: 0.1;
}


/* ABOUT */
.about {
  background-color: #1ABC9C;
  text-align: center;
}
.about .container {
  text-align: left;
  margin-top: 30px;
  margin-bottom: 30px;
}
.about p {
  font-size: 20px;
  line-height: 1.5;
}
.about a {
  width: 235px;
}
.about .free-download {
  display: inline-block;
  height: 66px;
  width: 235px;
  border: 2px solid white;
  border-radius: 8px;
}
.about .fa-download {
  margin-right: 8px;
}
.about .btn-lg {
  background-color: inherit;
  border: 2px solid white;
  padding: 17px 28px;
  border-radius: 8px;
}
.about .btn-lg:hover {
  background-color: #F8F9FA;
}
.about .btn-lg span {
  font-size: 22px;
  font-weight: 400;
  vertical-align: middle;
}


/* CONTACT-ME */
.contact_me {
  height: 974px;
}
.contact_me .thick_line {
  background-color: black;
}
.contact_me input,
.contact_me textarea {
  display: block;
  border: 0;
  font-size: 25px;
  width: 100%;
  margin-top: 40px;
}
.contact_me button {
  background-color: #1ABC9C;
  border: 0;
  float: left;
  padding: 20px 30px;
  border-radius: 8px;
}
.contact_me button:hover {
  background-color: #159A80;
}


/* FOOTER */
.footer_top {
  background-color: #2C3E50;
}
.footer_top [class*="col-"] {
  margin-bottom: 20px;
}
.footer_top h3 {
  margin-bottom: 25px;
}
.footer_top p {
  font-size: 20px;
  line-height: 1.5;
}
.footer_top .sm_icons {
  display: inline-block;
  width: 53px;
  height: 53px;
  border: 2px solid white;
  border-radius: 50%;
}
.footer_top .sm_icons:hover {
  background-color: #F8F9FA;
  color: black;
}
.footer_top .sm_icons:not(:last-child) {
  margin-right: 5px;
}
.fab.fa-fw {
  font-size: 20px;
  line-height: 48px;
}
.footer_top #srtboot {
  color: #1abc9c;
}
.footer_top #srtboot:hover {
  color: #117964;
  text-decoration: underline;
}
.footer_bottom {
  height: 72px;
  background-color: #1A252F;
}
.footer_bottom p {
  font-size: 13px;
  line-height: 72px;
  margin-bottom: 0;
}
