/* GENERALI */
body {
  font-family: 'Montserrat', sans-serif;
  padding-top: 104px;
  text-align: center;
}
.font_lato {
  font-family: 'Lato', sans-serif;
}
.uppercase {
  text-transform: uppercase;
}
h1, h2, h3, a {
  font-weight: 700;
}
h2 {
  font-size: 3.4em;
  margin-bottom: 20px;
}
ul {
  list-style: none;
}
.padding_top_90 {
  padding-top: 90px;
}
.padding_top_80 {
  padding-top: 80px;
}
.padding_top_60 {
  padding-top: 60px;
}
.padding_bottom_90 {
  padding-bottom: 90px;
}
.padding_bottom_80 {
  padding-bottom: 80px;
}
.padding_bottom_60 {
  padding-bottom: 60px;
}
.inline_block {
  display: inline-block;
}
.float-right {
  float: right;
}
.white_text,
.white_text a {
  color: white;
}
.fa-star {
  font-size: 2.3em;
  vertical-align: middle;
}
.thick_line {
  display: inline-block;
  width: 25%;
  max-width: 112px;
  height: 4px;
  background-color: white;
  border-radius: 5px;
  margin: 0 15px;
}


/* NAVBAR */
.nav_bar {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #2C3E50;
  width: 100%;
  z-index: 10;
}
.nav_bar a {
  line-height: 104px;
  white-space: nowrap;
}
.nav_bar .row {
  padding: 0 4%;
}
.nav_bar .row .start-bootstrap {
  font-size: 2em;
  float: left;
}
.nav_bar .row .start-bootstrap:hover,
.nav_bar .row .start-bootstrap:active,
.nav_bar .row .start-bootstrap:focus {
  text-decoration: none;
}
.nav_bar .contact {
  font-size: 1.15em;
}
.nav_bar .contact a:hover,
.nav_bar .contact a:active,
.nav_bar .contact a:focus {
  text-decoration: none;
  color: #1ABC9C;
}
.nav_bar li:not(:first-child) {
  margin-right: 40px;
}


/* JUMBO */
.jumbo {
  background-color: #1ABC9C;
  height: 680px;
  width: 100%;
  text-align: center;
}
.jumbo img {
  width: 240px;
  margin-bottom: 20px;
}
.jumbo h1 {
  font-size: 4.6em;
  margin-bottom: 20px;
}
.jumbo h3 {
  margin-top: 35px;
}


/* PORTFOLIO */
.portfolio {
  text-align: center;
}
.portfolio .thick_line {
  background-color: black;
}
.portfolio .row {
  margin: 30px 0 0;
  padding-bottom: 70px;
}
.portfolio .row [class*="col-"] {
  margin-bottom: 30px;
}
.portfolio img {
  width: 100%;
  max-width: 400px;
  border-radius: 8px;

}


/* ABOUT */
.about {
  background-color: #1ABC9C;
  height: 610px;
  text-align: center;
}
.about .container {
  text-align: left;
  margin-top: 30px;
  margin-bottom: 30px;
}
.about p {
  font-size: 1.4em;
  line-height: 1.5;
}
.about a {
  width: 235px;
}
.about .free-download {
  display: inline-block;
  height: 66px;
  width: 235px;
  border: 2px solid white;
  border-radius: 8px;
}
.about .fa-download {
  margin-right: 8px;
}
.about .free-download p {
  font-size: 1.45em;
  font-weight: 400;
  line-height: 56px;
}


/* CONTACT-ME */
.contact-me {
  height: 974px;
  background-color: lightgreen;
}
.contact-me .thick_line {
  background-color: black;
}

/* FOOTER */
.footer_top {
  height: 302px;
  background-color: #2C3E50;
}
.footer_top p {
  font-size: 1.4em;
  line-height: 1.5;
}

.footer_bottom {
  height: 72px;
  background-color: #1A252F;
}
.footer_bottom p {
  font-size: 0.9em;
  line-height: 72px;
  margin-bottom: 0;
}
