/* GENERALI */
body {
  font-family: 'Montserrat', sans-serif;
}
.uppercase {
  text-transform: uppercase;
}
ul {
  list-style: none;
}
.inline-block {
  display: inline-block;
}
.float-right {
  float: right;
}
.white-text,
.white-text a {
  color: white;
}
.fa-star {
  font-size: 2em;
  vertical-align: middle;
}
.thick-line {
  display: inline-block;
  width: 20%;
  max-width: 112px;
  height: 4px;
  background-color: white;
  border-radius: 5px;
  margin: 0 15px;
}

/* NAVBAR */
.nav-bar {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #2C3E50;
  width: 100%;
  z-index: 10;
}
.nav-bar a {
  line-height: 100px;
  white-space: nowrap;
}
.nav-bar .row .start-bootstrap {
  font-weight: 700;
  font-size: 1.75em;
  float: left;
}
.nav-bar .contact {
  font-weight: 700;
  font-size: 1em;
}
.nav-bar li:not(:first-child) {
  margin-right: 30px;
}

/* GREEN BACKGROUND */
.green-background {
  background-color: #1ABC9C;
  height: 683px;
  width: 100%;
  text-align: center;
}
.green-background img {
  width: 240px;
  margin: 100px 0 50px;
}
.green-background h1 {
  font-size: 4em;
  text-transform: uppercase;
}

/* PORTFOLIO */
.portfolio {
  text-align: center;
}
.portfolio h2{
  margin: 80px 0 30px;
}
.portfolio .thick-line {
  background-color: black;
}
.portfolio .row {
  margin: 40px 0;
}
.portfolio .row [class*="col-"] {
  height: 250px;
}
.portfolio-icons {
  height: 87%;
  background-color: red;
  border-radius: 8px;
}

/* ABOUT */
.about.fluid-container {
  background-color: #1ABC9C;
  height: 670px;
  text-align: center;
}
.about a {
  width: 235px;
}
.about .free-download {
  display: inline-block;
  height: 66px;
  width: 235px;
  border: 2px solid white;
  border-radius: 8px;
}

.about .free-download p {
  font-size: 1.25em;
  line-height: 66px;
}

.contact-me {
  height: 974px;
  background-color: lightgreen;
}

.footer-top {
  height: 302px;
  background-color: #2C3E50;
}
.footer-bottom {
  height: 72px;
  background-color: #1A252F;
}
